fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dateutil
python-multipart
bcrypt==4.0.1
python-jose[cryptography]
pydantic[email]
openpyxl
pandas
psycopg2-binary
python-dotenv
httpx
pytest
pytest-asyncio
pytest-cov
redis
slowapi
stripe
mercadopago
